In [2]:
# Análise de concessão de crédito utilizando aprendizado de máquina
# Aluno: Diogo Gnutzmann Santos
# Disciplina: Machine Learning

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [4]:
#Carregando as informações
credDF = pd.read_csv('german-bank-credit-data.csv')

In [5]:
#Analisando quantidade de registro e features.
credDF.shape

(1000, 21)

In [6]:
credDF.head(20)

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,<0,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',none,...,'no known property',53,none,'for free',2,skilled,2,none,yes,bad
5,'no checking',36,'existing paid',education,9055,'no known savings',1<=X<4,2,'male single',none,...,'no known property',35,none,'for free',1,'unskilled resident',2,yes,yes,good
6,'no checking',24,'existing paid',furniture/equipment,2835,500<=X<1000,>=7,3,'male single',none,...,'life insurance',53,none,own,1,skilled,1,none,yes,good
7,0<=X<200,36,'existing paid','used car',6948,<100,1<=X<4,2,'male single',none,...,car,35,none,rent,1,'high qualif/self emp/mgmt',1,yes,yes,good
8,'no checking',12,'existing paid',radio/tv,3059,>=1000,4<=X<7,2,'male div/sep',none,...,'real estate',61,none,own,1,'unskilled resident',1,none,yes,good
9,0<=X<200,30,'critical/other existing credit','new car',5234,<100,unemployed,4,'male mar/wid',none,...,car,28,none,own,2,'high qualif/self emp/mgmt',1,none,yes,bad
10,0<=X<200,12,'existing paid','new car',1295,<100,<1,3,'female div/dep/mar',none,...,car,25,none,rent,1,skilled,1,none,yes,bad
11,<0,48,'existing paid',business,4308,<100,<1,3,'female div/dep/mar',none,...,'life insurance',24,none,rent,1,skilled,1,none,yes,bad
12,0<=X<200,12,'existing paid',radio/tv,1567,<100,1<=X<4,1,'female div/dep/mar',none,...,car,22,none,own,1,skilled,1,yes,yes,good
13,<0,24,'critical/other existing credit','new car',1199,<100,>=7,4,'male single',none,...,car,60,none,own,2,'unskilled resident',1,none,yes,bad
14,<0,15,'existing paid','new car',1403,<100,1<=X<4,2,'female div/dep/mar',none,...,car,28,none,rent,1,skilled,1,none,yes,good
15,<0,24,'existing paid',radio/tv,1282,100<=X<500,1<=X<4,4,'female div/dep/mar',none,...,car,32,none,own,1,'unskilled resident',1,none,yes,bad
16,'no checking',24,'critical/other existing credit',radio/tv,2424,'no known savings',>=7,4,'male single',none,...,'life insurance',53,none,own,2,skilled,1,none,yes,good
17,<0,30,'no credits/all paid',business,8072,'no known savings',<1,2,'male single',none,...,car,25,bank,own,3,skilled,1,none,yes,good
18,0<=X<200,24,'existing paid','used car',12579,<100,>=7,4,'female div/dep/mar',none,...,'no known property',44,none,'for free',1,'high qualif/self emp/mgmt',1,yes,yes,bad
19,'no checking',24,'existing paid',radio/tv,3430,500<=X<1000,>=7,3,'male single',none,...,car,31,none,own,1,skilled,2,yes,yes,good

In [7]:
#Transformando valores de features para valores numéricos para utilizar nos algoritimos
prev = credDF.iloc[:,0:20].values
classe = credDF.iloc[:,20].values

In [8]:
lblenc = LabelEncoder()
prev[:,0] = lblenc.fit_transform(prev[:,0])
prev[:,2] = lblenc.fit_transform(prev[:,2])
prev[:, 3] = lblenc.fit_transform(prev[:, 3])
prev[:, 5] = lblenc.fit_transform(prev[:, 5])
prev[:, 6] = lblenc.fit_transform(prev[:, 6])
prev[:, 8] = lblenc.fit_transform(prev[:, 8])
prev[:, 9] = lblenc.fit_transform(prev[:, 9])
prev[:, 11] = lblenc.fit_transform(prev[:, 11])
prev[:, 13] = lblenc.fit_transform(prev[:, 13])
prev[:, 14] = lblenc.fit_transform(prev[:, 14])
prev[:, 16] = lblenc.fit_transform(prev[:, 16])
prev[:, 18] = lblenc.fit_transform(prev[:, 18])
prev[:, 19] = lblenc.fit_transform(prev[:, 19])

In [9]:
#Separando 30% dos dados para utilizar como teste e 70% para treinamento do modelo
x_train, x_test, y_train, y_test = train_test_split(prev,classe,test_size = 0.3,random_state = 0)

In [10]:
print(x_train)

[[1 24 1 ... 2 1 1]
 [0 36 3 ... 1 1 1]
 [2 15 1 ... 2 1 1]
 ...
 [0 9 3 ... 1 0 1]
 [1 18 1 ... 1 0 1]
 [1 36 2 ... 2 1 1]]

In [11]:
#ÁRVORE DE DECISÃO
decTree = DecisionTreeClassifier()
decTree.fit(x_train, y_train)

DecisionTreeClassifier()

In [12]:
resPrevDecTree = decTree.predict(x_test)

In [13]:
# Gerando a matriz de confusão do Decision Tree
confArrayDecTree = confusion_matrix(y_test, resPrevDecTree)
print(confArrayDecTree)

[[ 43  43]
 [ 52 162]]

In [14]:
#Avaliando a acurácia do modelo
decTreeAccScore = accuracy_score(y_test, resPrevDecTree)
print('Acurácia do Decision Tree:',round(decTreeAccScore*100,2),'%')

Acurácia do Decision Tree: 68.33 %

In [15]:
# RANDOM FOREST
rndForest = RandomForestClassifier(n_estimators = 100)
rndForest.fit(x_train, y_train)

RandomForestClassifier()

In [16]:
resPrevRndForest = rndForest.predict(x_test)

In [17]:
#Gerando matriz de confusão
confArrayRndForest = confusion_matrix(y_test, resPrevRndForest)
print(confArrayRndForest)

[[ 37  49]
 [ 17 197]]

In [18]:
#Avaliando a acurácia do modelo
rndForestAccScore = accuracy_score(y_test, resPrevRndForest)
print('Acurácia do Random Forest:',round(rndForestAccScore*100,2),'%')

Acurácia do Random Forest: 78.0 %

In [19]:
print('Acurácia do Decision Tree:',round(decTreeAccScore*100,2),'%')
print('Acurácia do Random Forest:',round(rndForestAccScore*100,2),'%')

Acurácia do Decision Tree: 68.33 %
Acurácia do Random Forest: 78.0 %

In [20]:
##Conclusão: O algoritimo Random Forest é mais preciso que utilizar apenas Decision Tree.